---
layout: default
---

<article class="page">

 <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
                </div>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
  <h1>{{ page.title }}</h1>
                <!--Text-->
                <p class="card-text">
                 <div class="entry">
    {{ content }}
  </div>
                </p>
                <p class="card-text">
                  <strong>5 minutes, a few clicks and... done. You will be surprised at how easy it is.</strong>
                </p>
              </div>

            </div>
</article>

   
